.header {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0px 250px;
    &__text {
      color: white;
      font-size: 5rem;
      min-width: 400px;
      width: 40%;
    }
  }