.secao {
  align-items: center;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 30px;
}
.sobreNos {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  &__texto {
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    text-align: justify;
p {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
}

  
