.secao {
      align-items: center;
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-right: 200px;
      margin-left: 200px;
      margin-top: 40px;
  }

.item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    transition: .2s ease-in;
    width: 100%;
    &:hover {
      background-color: #e4e4e4;
    }
    &__imagem {
      width: 400px;
      img {
        border-radius: 8px;
        width: 100%;
      }
    }
    &__descricao {
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 20px;
    }
    &__titulo {
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: YellowGreen;
        font-family: 'Courier New', Courier, monospace;
      }
      p {
        color: #92929d;
        font-size: 1.1rem;
        font-weight: 600;
        max-width: 600px;
        margin-bottom: 20px;
        font-family: 'Josefin Sans', sans-serif;
      }
    }
  }
  .loader {  
        left:50%;
        top:50%;
        position: relative;
        margin-left:-40px; 
        margin-top: 300px; 
        height: 600px;
  }
  .busca {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 250px;
    font-size: 17px;
    display: flex;
    //float: right;
    margin-bottom: 2%;
    margin-top: -3.7%;
    position: absolute;
    margin-left: 90rem;
  }