.menu {
    display: flex;
    padding: 10px 250px;
    background-color: #b0c146;

    &__list {
      align-items: center;
      display: flex;
    }
    &__link {
      list-style-type: none;
      padding: 0 20px;
      a {
        color: WHITE;
        font-family: 'Josefin Sans', sans-serif;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition: .2s ease;
        &:hover {
          color: #2C5B1D;  
        }
      }
    }
  }
  .login {
    color: WHITE;
    text-decoration: none;
    background-color: dimgray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    height: 25px;
    width: 80px;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px;
    &:hover {
      background-color:darkgray;  
    }
  }
  .logo{
    height: 70px;
  }
