.fotosAleatoria {
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    width: 170vh;
    flex-direction: row;
    margin-left: 12vh;
    margin-bottom: 50px;
  }
  .aleatoria {
    &__imagem {
      width: 400px;
      margin-bottom: 10px;
      padding-right: 6px;
      img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
        width: 100%;
        height: 300px;
        cursor: pointer;
      }
    }
    &__botao {
      background-color: #d73b3b;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 0;
      transition: .2s ease;
      width: 100%;
      &:hover {
        background-color: #c62a2a;
      }
    }
  }
  .campinas {
    width: 100%;
  }